@import "~bootstrap/scss/bootstrap";
@import "profil_user";
//start coding by removing this file and adding yours ;)
//@import "wcs";


main{
    color: black;
}

//.footer-container {
footer {
    width: 100%;
    background-color: #F8F6F6;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
}

.moit{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.footer-menu {
    grid-area: 1 / 2 / 2 / 3;
    margin: 8px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
}

.footer-link {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 6.5px;
    text-decoration: none;
    text-align: right;
    margin-bottom: 10px;
    align-items: flex-end;

}
div.menu-item {
    /*text-align: right;*/
}
.footer-contact {
    text-align: left;
}

.contact-link {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 8px;
    letter-spacing: 2px;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    align-items: flex-start;
}

@media screen and (width > 576px) {
    //.footer-container {
    footer {
        width: 100%;
        padding: 10px;
        margin: 0;
    }

    .footer-link {
        font-weight: bolder;
        font-size: 30px;
    }
    .contact-link {
        font-size: 22px;
    }
}
@media (max-width: 480px) {
    .footer-link {
        font-size: 14px;

    }
    .contact-link {
        font-size: 5px;
    }
}
.img_navbar {
    margin-top: 21px;
    width: 50%;
}

.prediction-container {
    width: 100%;
    margin: auto;
    background-color: #FFFFFF; /* ou toute autre couleur de fond appropriée */
}

.prediction-title {
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.25px;
    /* D'autres propriétés de style comme la taille de la police, le poids, etc. */
}

.product-display {
    text-align: right;
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
    /* D'autres propriétés de style si nécessaire */
}

.product-image {
    width: 100%; /* ou toute autre taille appropriée */
    /* D'autres propriétés de style pour ajuster l'image */
}

.product-description {
    text-align: right;
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;


}

.frequency-question {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-image: url('../images/mannequin.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;

    .search-form {
        width: 80%;
        max-width: 500px;
    }

    .input-group {
        display: flex;
        width: 100%;
    }

    .form-control {
        flex: 1; /* L'input prend tout l'espace disponible */
    }

    .btn-outline {
        background-color: #fff;
    }

}

@media (min-width: 490px) {
    .frequency-question {
        height: 100vh;
    }
}
button.btn.btn-outline.div2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.div1 { grid-area: 1 / 1 / 2 / 4; }
.div2 { grid-area: 1 / 3 / 2 / 4; }

.pub{
    width: 100%;
}

.search{
    margin: 8px;
}

.underTheOther{
    display: flex;
    flex-direction: column;
}

.titrePrediction{
    //background-image: url("../images/imagePrediction.png");
    //background-size: cover;
    margin: 0;
    width:200px;
    height:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: larger;
    opacity: 0.3;
    transition: opacity 3s ease;
}
.titrePrediction:hover  {
    opacity: 1;
}

.imagePrediction{
    //position: relative;
    //background-image: url("../images/imagePrediction.png");
    background-size: cover;
    width:210px;
    height:210px;
}

.trait1{
    height: 2px;
    width: 45%;
    background-color: black;
    margin-bottom: 3px;
    margin-right: 7%;
}
.trait2{
    height:1.5px;
    width:45%;
    background-color: black;
    margin-bottom: 3px;
    margin-left: 7%;
}
.trait3{
    height:1px;
    width:45%;
    background-color: black;
    margin-bottom: 4px;
    margin-left: 15%;
}

.prediction-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    text-align: center;
}

.imagePrediction { grid-area: 1 / 1 / 2 / 2; }
.titrePrediction { grid-area: 1 / 1 / 2 / 2; }

.sideByside{
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    align-items: center;
}

.litleTitle{
    font-size: 12px;
    margin: 0;
}

.prediction { grid-area: 1 / 1 / 3 / 3; }
.mesProduits {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
}
.ventes {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
}

.traitVerti1{
    width: 1px;
    height: 40px;
    background-color: black;
    margin-right: 3px;
    margin-top: 6px;
}

.staggered{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-bottom: 8px;
}

.stag1 { grid-area: 1 / 1 / 4 / 2; }
.stag2 { grid-area: 3 / 2 / 6 / 3; }
.stag3 { grid-area: 5 / 1 / 8 / 2; }
.stag4 { grid-area: 7 / 2 / 10 / 3; }

.stag{
    width: 50%;
}

.DRKadry{
    width: 100%;
}

.banner{
    display: none;
}

.BestSellers{
    display: flex;
    margin: 0;
    padding-left: 8px;
}

.traitVerti{
    width: 2px;
    height: 74px;
    background-color: black;
    margin-top: 11px;
}

.textVerti{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin: 8px;
}

.B { grid-area: 1 / 1 / 2 / 2; }
.E { grid-area: 2 / 2 / 3 / 3; }
.S { grid-area: 3 / 3 / 4 / 4; }
.T { grid-area: 4 / 4 / 5 / 5; }
.S2 { grid-area: 6 / 1 / 7 / 2; }
.E2 { grid-area: 7 / 1 / 8 / 2; }
.L { grid-area: 8 / 1 / 9 / 2; }
.L2 { grid-area: 9 / 1 / 10 / 2; }
.E3 { grid-area: 10 / 1 / 11 / 2; }
.R { grid-area: 11 / 1 / 12 / 2; }
.S3 { grid-area: 12 / 1 / 13 / 2; }

.gloss{
    width: 85%;
    opacity: 80%;
}

.makup{
    width: 100%;
    opacity: 80%;
}

.makupL{
    display: none;
    opacity: 80%;
}

@media screen and (width > 576px) {
    .pub {
        height: auto;
        width: 100%;
    }
    .search {
        width: 50%;
    }

    .imagePrediction {
        width: 49rem;
        height: 49rem;
    }

    .titrePrediction {
        width: 800px;
        height: 750px;
        font-size: 80px;
        margin: 0;
    }

    .trait1{
        height: 5px;
        margin-bottom: 6px;
    }

    .trait2{
        height: 4px;
        margin-bottom: 6px;
    }

    .trait3{
        height: 3px;
    }

    .litleTitle {
        font-size: 22px;
        margin: 0;
    }

    //.sideByside {
    //    width: 70%;
    //    align-items: start;
    //}

    .staggered {
        display: flex;
    }

    .stag1, .stag2, .stag3, .stag4 {
        width: 50%;
    }

    .stag{
        width: 50%;
    }

    .gloss {
        width: 50%;
    }

    .BestSellers {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .traitVerti {
        height: 174px;
        margin-left: 10%;
    }

    .DRKadry {
        display: none;
    }

    .banner {
        display: block;
        width: 100%;
    }

    .makup {
        display: none;
    }

    .traitVerti {
        display: none;
    }

    .textVerti{
        display: none;
    }

    .makupL{
        display: block;
        width: 50%;
    }

    .sideByside {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 0;
        justify-items: start;
        justify-content: center;
        align-items: start;
    }

    .prediction {
        grid-area: 1 / 1 / 3 / 2;
    }

    .mesProduits {
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
    }
    .ventes {
        grid-area: 2 / 2 / 3 / 3;
        display: flex;
    }

    .traitVerti1 {
        height: 25px;
    }

    .img_navbar {
        width: 40%;
    }

    .bi-person-fill{
        width: 50px;
        height: 50px;
    }

}





.card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card-title {
    font-size: 1.1rem;
}

.btn-primary {
    font-size: 0.9rem;
}





