{% block footer %}
        <div class="moit">
            <div class="footer-menu">
                <div class="menu-item">
                    <a href="#" class="footer-link">A propos</a>
                </div>
                <div class="menu-item">
                    <a href="#" class="footer-link">Contact</a>
                </div>
                <div class="menu-item">
                    <a href="#" class="footer-link">Plan du site</a>
                </div>
            </div>
        </div>
            <div class="footer-contact col-xs-12">
                <a href="mailto:contact@loreal.com" class="contact-link">Une question <br> sur un produit ?<br>Écrivez-nous</a>
            </div>
{#    </div>#}
{% endblock %}
