{% block footer %}
    <div class="footer-container row">
        <div class="moit col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <!-- Premier bloc vide -->
        </div>
        <div class="moit col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="footer-menu menu-item">
                <div class="menu-item">
                    <a href="#" class="footer-link">A propos</a>
                </div>
                <div class="menu-item">
                    <a href="#" class="footer-link">Contact</a>
                </div>
                <div class="menu-item">
                    <a href="#" class="footer-link">Plan du site</a>
                </div>
            </div>
        </div>
        <div class="footer-contact col-xs-12">
            <a href="mailto:contact@loreal.com" class="contact-link">Une question sur un produit ?<br>Écrivez-nous</a>
        </div>
    </div>
{% endblock %}
