{% extends 'base.html.twig' %}


{% block body %}
    <div class="container" style="width: 430px; height: 186px; background: #F8F6F6; padding: 20px;">
        <div class="row">
            <div class="col">
                <p class="question-text">
                    Une question sur un produit ?<br/>Ecrivez-nous<br/><br/>
                </p>
                <p class="menu-text">
                    À propos<br/>Contact<br/>Plan du site
                </p>
            </div>
        </div>
    </div>
{% endblock %}
