{% extends 'base.html.twig' %}

{% block body %}
    <div class="prediction-container">
        <h1 class="prediction-title">PREDICTION</h1>

        {% if product is defined %}
            <div class="product-display">
                <img src="{{ asset('path/to/mascara_image.jpg') }}" alt="{{ product.nameProduct }}" class="product-image">
                <p class="product-description">{{ product.nameProduct  }}</p>
            </div>
        {% endif %}

        <div class="frequency-question">
            {{ component('Search') }}
        </div>
    </div>
{% endblock %}
