{% extends 'base.html.twig' %}

{% block body %}
    <div class="prediction-container">
        <h1 class="prediction-title">PREDICTION</h1>

        <div class="product-display">
            <img src="{{ asset('path/to/mascara_image.jpg') }}" alt="Pro XXL Mascara volume" class="product-image">
            <p class="product-description">Pro XXL Mascara volume<br>Mascara effet faux-cils</p>
        </div>

        <div class="frequency-question">
            <h2>Sélectionner votre produit </h2>

        </div>
    </div>
{% endblock %}
